.footer{
  background: #C4C4C4;

}
.footer .title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #000000;
}
.footer p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.footer .row ul{
  padding: 0 !important;
}
.footer .row li{
  list-style-type: none;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0 10px 0;
  line-height: 17px;
  color: #000000;
}
.icon{
  margin: 10px;
}
.footer .row .col-sm-3.inner:nth-child(4),
.footer .row .col-sm-2.inner:nth-child(5){
  padding-top: 40px;
}